<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Home</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/GroceryApp2.png" alt="GroceryApp" />
      <ion-card-header>
      <!-- <ion-card-subtitle>Welcome</ion-card-subtitle> -->
        <ion-card-title>Welcome to the Grocery App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
      </ion-list-header>
    </ion-list>
</ion-content>
